-- DROP SCHEMA dbo;

CREATE DATABASE Albarran;
-- Albarran.dbo.cargos definition

-- Drop table

-- DROP TABLE Albarran.dbo.cargos;

CREATE TABLE Albarran.dbo.cargos (
	cargo_id int NOT NULL,
	nombre nvarchar(255) COLLATE Modern_Spanish_CI_AS NOT NULL,
	CONSTRAINT PK_cargos PRIMARY KEY (cargo_id)
);


-- Albarran.dbo.categorias definition

-- Drop table

-- DROP TABLE Albarran.dbo.categorias;

CREATE TABLE Albarran.dbo.categorias (
	cliente_id int NOT NULL,
	nombre nvarchar(255) COLLATE Modern_Spanish_CI_AS NOT NULL,
	appaterno nvarchar(255) COLLATE Modern_Spanish_CI_AS NOT NULL,
	apmaterno nvarchar(255) COLLATE Modern_Spanish_CI_AS NOT NULL,
	sexo char(1) COLLATE Modern_Spanish_CI_AS NOT NULL,
	fecha_nacimiento datetime NULL,
	estado_civil nvarchar(255) COLLATE Modern_Spanish_CI_AS NULL,
	CONSTRAINT PK_clientes PRIMARY KEY (cliente_id)
);


-- Albarran.dbo.comunas definition

-- Drop table

-- DROP TABLE Albarran.dbo.comunas;

CREATE TABLE Albarran.dbo.comunas (
	producto_id int NOT NULL,
	nombre nvarchar(255) COLLATE Modern_Spanish_CI_AS NOT NULL,
	precio int NOT NULL,
	descripcion nvarchar(255) COLLATE Modern_Spanish_CI_AS NULL,
	categoria_id int NOT NULL,
	CONSTRAINT PK_productos PRIMARY KEY (producto_id)
);


-- Albarran.dbo.empleados definition

-- Drop table

-- DROP TABLE Albarran.dbo.empleados;

CREATE TABLE Albarran.dbo.empleados (
	empleado_id int NOT NULL,
	nombre nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	appaterno nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	apmaterno nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	fecha_contrato datetime NOT NULL,
	sueldo_base int NOT NULL,
	cargo_id int NOT NULL,
	CONSTRAINT PK_empleados PRIMARY KEY (empleado_id)
);


-- Albarran.dbo.productos definition

-- Drop table

-- DROP TABLE Albarran.dbo.productos;

CREATE TABLE Albarran.dbo.productos (

);


-- Albarran.dbo.sucursales definition

-- Drop table

-- DROP TABLE Albarran.dbo.sucursales;

CREATE TABLE Albarran.dbo.sucursales (
	sucursal_id int NOT NULL,
	sucursal nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	comuna_id int NOT NULL,
	CONSTRAINT PK_sucursales PRIMARY KEY (sucursal_id)
);


-- Albarran.dbo.sysdiagrams definition

-- Drop table

-- DROP TABLE Albarran.dbo.sysdiagrams;

CREATE TABLE Albarran.dbo.sysdiagrams (
	transaction_id bigint NOT NULL,
	block_id bigint NOT NULL,
	transaction_ordinal int NOT NULL,
	version tinyint NOT NULL,
	[type] tinyint NOT NULL,
	commit_ts datetime2 NOT NULL,
	table_hashes varbinary(MAX) NULL,
	commit_LSN varbinary(10) NULL,
	transaction_description nvarchar(MAX) COLLATE Modern_Spanish_CI_AS NULL,
	principal_name sysname COLLATE Modern_Spanish_CI_AS NOT NULL
);
CREATE UNIQUE CLUSTERED INDEX ci_block_id ON Albarran.dbo.sysdiagrams (block_id, transaction_ordinal);
CREATE UNIQUE NONCLUSTERED INDEX nci_transaction_id ON Albarran.dbo.sysdiagrams (transaction_id);


-- Albarran.dbo.detalle_ventas definition

-- Drop table

-- DROP TABLE Albarran.dbo.detalle_ventas;

CREATE TABLE Albarran.dbo.detalle_ventas (
	venta_id int NOT NULL,
	producto_id int NOT NULL,
	cantidad int NOT NULL,
	precio_unitario int NOT NULL,
	descuento numeric(5,2) NOT NULL,
	CONSTRAINT PK_ventas PRIMARY KEY (venta_id),
	CONSTRAINT FK_ventas_clientes FOREIGN KEY (cantidad) REFERENCES Albarran.dbo.categorias(cliente_id)
);


-- Albarran.dbo.clientes definition

-- Drop table

-- DROP TABLE Albarran.dbo.clientes;

CREATE TABLE Albarran.dbo.clientes (
	cliente_id int NOT NULL,
	nombre nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	appaterno nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	apmaterno nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	sexo char(1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	fecha_nacimiento datetime NULL,
	estado_civil nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT PK_clientes PRIMARY KEY (cliente_id),
	CONSTRAINT FK_detalle_ventas_productos FOREIGN KEY (nombre) REFERENCES Albarran.dbo.comunas(producto_id),
	CONSTRAINT FK_detalle_ventas_ventas FOREIGN KEY (cliente_id) REFERENCES Albarran.dbo.detalle_ventas(venta_id)
);


-- Albarran.dbo.ventas definition

-- Drop table

-- DROP TABLE Albarran.dbo.ventas;

CREATE TABLE Albarran.dbo.ventas (
	venta_id int NOT NULL,
	vendedor_id int NOT NULL,
	cliente_id int NOT NULL,
	sucursal_id int NOT NULL,
	fecha datetime NOT NULL,
	tipo_documento nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	numero_documento int NOT NULL,
	CONSTRAINT PK_ventas PRIMARY KEY (venta_id),
	CONSTRAINT FK_ventas_clientes FOREIGN KEY (cliente_id) REFERENCES Albarran.dbo.clientes(cliente_id),
	CONSTRAINT FK_ventas_empleados FOREIGN KEY (vendedor_id) REFERENCES Albarran.dbo.empleados(empleado_id),
	CONSTRAINT FK_ventas_sucursales FOREIGN KEY (sucursal_id) REFERENCES Albarran.dbo.sucursales(sucursal_id)
);